@charset "UTF-8";

body {position:relative;padding:0;font-size:16px;color:#444;font-weight:400; font-family: Nanum Gothic,나눔 고딕,sans-serif;letter-spacing:-0.01em;background:none;}

/* 본문바로가기  */
.accessibility{overflow:hidden;position:relative;z-index:1000;width:100%;}
.accessibility a{display:block;overflow:hidden;height:1px;width:1px;margin:0 -1px -1px 0;font-size:0;line-height:0;text-align:center;}
.accessibility a:focus,#accessibility a:hover,#accessibility a:active{width:auto;height:20px;margin:0;padding:8px 0 0 15px;background:#20262c;font-size:12px;font-weight:700;line-height:1;color:#fff;}

body.m_on{overflow:hidden;}
#wrapper{position:relative;overflow:hidden;transform-origin:50% 0;font-family:'Pretendard-Regular'}
.wrap{position:relative;min-width:320px;width:1200px;margin:0 auto;box-sizing:border-box;}
@media only screen and (max-width:1200px){
.wrap{width:100%;}
}

/* header */
#header{position:relative;z-index:13;font-family:'Pretendard-Regular';}
#header .header{border-bottom:1px solid #B0B0B0;}
#header .header .wrap{height:90px;}
#header .logo{position:absolute;left:0;top:50%;z-index:12;line-height:0;transform:translateY(-50%);}
#header .logo a{display:inline-block;width:224px;height:48px;line-height:1px;color:transparent;background:url(../images/new_common/logo.png) center center no-repeat;background-size:100% auto;overflow:hidden;}
#header .search{position:absolute;right:160px;top:50%;transform:translateY(-50%);}
#header .search form{width:380px;height:48px;padding-right:48px;border:1px solid #003E80;border-radius:50px;box-sizing:border-box;}
#header .search button{display:none;width:50px;height:50px;font-size:1px;line-height:1px;color:transparent;border-radius:0;overflow:hidden;background-position:center center;background-repeat:no-repeat;background-color:#003E80;}
#header .search button.search_open{background-image:url(../images/new_common/btn_search_open.png);}
#header .search button.search_close{position:absolute;right:48px;top:-61px;background-image:url(../images/new_common/lnb_close.png);}
#header .search.active button.search_close{display:inline-block;}
#header .search input[type="text"]{width:100%;height:46px;padding:0 15px;font-size:1em;color:#101010;border:none;background-color:transparent;}
#header .search input[type="text"]::placeholder{color:#707070;}
#header .search input[type="submit"]{position:absolute;right:0;top:0;width:48px;height:100%;color:transparent;border:none;border-radius:0;background:url(../images/new_common/btn_search.png) center center no-repeat;box-sizing:border-box;}
#header .search .mngmt{font-weight:700;color:#ffffff;}
#header .search .timer{color:#FAED7D;font-weight:bold;}
#header .search .timeText{color:#d8d3d3;}
#header .scale_box{position:absolute;right:0;top:50%;transform:translateY(-50%);}
#header .scale_box .title{position:absolute;width:1px;height:1px;font-size:1px;line-height:1px;color:transparent;}
#header .scale_box li{float:left;}
#header .scale_box li button{display:inline-block;width:32px;height:32px;padding:0;margin:0;font-size:1px;line-height:1px;color:transparent;border:1px solid #007CFF;border-radius:5px;background-position:center center;background-repeat:no-repeat;}
#header .scale_box li button.plus{background-image:url(../images/new_common/icon_plus.png);}
#header .scale_box li button.minus{background-image:url(../images/new_common/icon_minus.png);}
#header .scale_box li button.undo{width:auto;margin:0 8px;font-size:1rem;color:#303030;border:none;}
#header .scale_box li button span{position:absolute;width:1px;height:1px;font-size:1px;line-height:1px;color:transparent;}
@media only screen and (max-width:1199px){
#header .logo{left:2%;}
#header .search{right:2%;}
#header .scale_box{display:none !important;}
}
@media only screen and (max-width:800px){
#header .wrap{height:50px !important;}
#header .logo a{width:140px;}
#header .search{position:static;text-align:right;padding-right:50px;transform:translate(0);}
#header .search button.search_open{display:inline-block;}
#header .search form{display:none;position:absolute;left:0;top:60px;width:100%;height:50px;padding-right:100px;background-color:#fff;}
#header .search.active form{display:block;}
#header .search input[type="text"]{height:48px;}
#header .search input[type="submit"]{width:50px;}
}

/* 메뉴 */
#lnb_box{position:relative;font-family:'Pretendard-Regular';box-shadow:1px 2px 2px rgba(0,0,0,0.05);}
#lnb_box::before{position:absolute;left:0;bottom:0;display:inline-block;width:100%;height:1px;content:'';background-color:#B0B0B0;}
#lnb_box .lnb_open,#lnb_box .lnb_close{position:absolute;right:0;top:0;z-index:12;display:none;width:50px;height:50px;padding:0;margin:0;font-size:1px;line-height:1px;color:transparent;border-radius:0;background-position:center center;background-repeat:no-repeat;background-color:#003E80;}
#lnb_box .lnb_open{background-image:url(../images/new_common/lnb_open.png);}
#lnb_box .lnb_close{position:fixed;display:none;background-image:url(../images/new_common/lnb_close.png);}
#lnb{position:relative;width:1200px;margin:0 auto;}
#lnb > ul{display:flex !important;}
#lnb .depth1{position:relative;flex-grow:1;margin:0;padding:0;}
#lnb .depth1.my{display:none;}
#lnb a.tit{position:relative;display:block;height:70px;font-size:1.5em;line-height:70px;color:#101010;font-weight:600;text-align:center;text-decoration:none;}
#lnb a.tit::before{position:absolute;left:0;bottom:0;display:inline-block;width:100%;height:5px;background-color:#003E80;}
#lnb a.tit:hover,#lnb a.tit:focus,#lnb .active a.tit,#lnb .current_dep1 a.tit{color:#003E80;background-color:#e6ecf3;}
#lnb a.tit:hover::before,#lnb a.tit:focus::before,#lnb .active a.tit::before,#lnb .current_dep1 a.tit::before{content:'';}
#lnb .depth2{position:absolute;left:0;top:70px;width:100%;padding-bottom:40px; opacity:0;visibility:hidden;}
#lnb .depth2::before{position:absolute;left:0;top:0;display:inline-block;width:100%;height:100%;content:'';background-color:#2d343a;border-left:1px solid #777;box-sizing:border-box;opacity:0.92;}
#lnb .depth1:first-child .depth2::before{border-left:none;}
/* #lnb .active .depth2{opacity:1;visibility:visible;transition:all ease-in-out 400ms;} */
#lnb .depth2 > ul{position:relative;}
#lnb .depth2 > ul > li > a{display:block;height: 40px;margin-left:1px;padding-left:5%;font-size:1rem;line-height:40px;color:#fff;}
#lnb .depth2 > ul > li > a:hover,#lnb .depth2 > ul > li > a:focus,#lnb .depth2 > ul > li > a.on{color:#fff;font-weight:500;background-color:#003E80;}
#lnb .depth3{}
#lnb .depth3 li a{position:relative;display:block;padding:12px;font-size:0.88em;line-height:14px;color:#fff;background:none;}
#lnb .depth3 li a:hover{text-decoration:underline;}
#lnb .depth3 li a::before{position:absolute;left:6%;top:50%;display:inline-block;width:2px;height:2px;content:'';border-radius:100%;background-color:#fff;transform:translateY(-50%);}

#lnb_box.lnb_on{}
#lnb_box.lnb_on #lnb .depth2{opacity:1;visibility:visible;transition:none !important;}
#lnb_box.lnb_on #lnb .depth3 li a{padding:8px 0 8px 10%;}

@media only screen and (max-width:1200px){
#lnb{width:100%;}
}
@media only screen and (max-width:1000px){
#lnb a.tit{font-size:18px;}
#lnb_box.lnb_on #lnb .depth2 > ul > li > a{font-size:14px;}
}
@media only screen and (max-width:800px){
#lnb_box{right:0;top:-51px;z-index:13;width:100%;}
#lnb_box.m_lnb{z-index:600;}
#lnb_box.m_lnb::before{position:fixed;left:0;top:0;display:inline-block;width:100%;height:100%;content:'';background-color:#000;opacity:0.6;}
#lnb_box h2{position:fixed;right:-60%;display:block;width:60%;height:50px;padding:15px 0 15px 15px;font-size:22px;line-height:20px;color:#fff !important;text-indent:0;background-color:#003E80;box-sizing:border-box;transition:right ease-in-out 400ms;}
#lnb_box.m_lnb h2{right:0;}
#lnb_box .lnb_open{display:inline-block;}
#lnb{position:fixed;right:-60%;top:50px;width:60%;height:100%;transition:right ease-in-out 400ms;}
.m_lnb #lnb{right:0;}
#lnb > ul{display:block !important;height:100%;padding:0;background-color:#fff;}
#lnb > ul:before{display:none;}
#lnb .depth1{position:static;float:none;width:100%;}
#lnb .depth1.my{display:block;}
#lnb .depth1 a.tit{height:initial; padding:15px 0 15px 15px;font-size:20px;line-height:20px;color:#101010;border-bottom:1px solid #e1dede;text-align:left;font-weight:500;opacity:1;}
#lnb .depth1 a.tit::before{display: none;}
#lnb .depth1 a.tit:hover, #lnb .depth1 a.tit:focus,#lnb .depth1.active a.tit,#lnb .depth1.current_dep1 a.tit{color:#222;background-color:transparent;}
#lnb .depth1 a.tit.on,#lnb .depth1 a.tit.on:focus{color:#fff;background:#003E80;}
#lnb .depth2{position:static;display:none;padding-bottom:0;border-bottom:1px solid #e1dede;opacity:1;visibility:visible;overflow-y:auto;box-sizing:border-box;}
#lnb .depth2::before{display:none;}
#lnb .depth2.dep2_on{display:block;}
#lnb .depth2 > ul{position:relative;height:100% !important;padding:10px 0;box-sizing:border-box;}
#lnb .depth2 > ul:before{position:absolute;left:0;top:0;z-index:-1;width:100%;height:100%;content:'';background-color:#fff;}
#lnb .depth2 > ul > li{float:none;width:100%;padding:0;}
#lnb .depth2 > ul > li > a{padding:10px 20px;font-size:18px;line-height:20px;color:#101010;text-align:left;}
#lnb .depth2 > ul > li > a:before{display:none;}
#lnb .depth2 > ul > li > a:hover, #lnb .depth2 > ul > li > a:focus, #lnb .depth2 > ul > li > a.on{color:#101010;font-weight:600;background:transparent;}
#lnb .depth3,#lnb .depth2_field .depth3{display:block;height:0;padding:0;overflow:hidden;}
#lnb .depth3.dep3_on,#lnb .depth2_field .depth3.dep3_on{height:inherit;}
#lnb .depth3 li a{padding:8px 20px 8px 30px;font-size:16px;line-height:16px;color:#101010;text-align:left;}
#lnb .depth3 li a:before{left:25px;background-color:#333;}
#lnb_box.m_lnb .lnb_open{display:none;}
#lnb_box.m_lnb .lnb_close{display:inline-block;}
}

#container_warp{position:relative;z-index:10;}

.sub_menu{font-family:'Pretendard-Regular';border-bottom:1px solid #B0B0B0;background-color:#003E80;}
.sub_menu ul{position:relative;height:60px;padding-top:18px;box-sizing:border-box;}
.sub_menu li{float:left;}
.sub_menu li a{position:relative;display:block;padding:2px 0 2px 12px;margin-right:12px;font-size:1em;line-height:24px;color:#fff;}
.sub_menu li a::before{position:absolute;left:0;top:50%;display:inline-block;width:1px;height:12px;content:'';background-color:#A8A8A8;transform:translateY(-50%);}
.sub_menu li:first-child a{padding-left:0;}
.sub_menu li:first-child a::before{display:none;}
.sub_menu li.on a{color:#6AB3FF;}
.sub_menu li a.home_link{display:inline-block;width:24px;height:24px;font-size:1px;line-height:1px;color:transparent;background:url(../images/new_common/home_link.png) center center no-repeat;overflow:hidden;}
.sub_title{font-family:'Pretendard-Regular';background-color:#f2f5f8;}
.sub_title .wrap{position:relative;height:140px;background:url(../images/new_common/sub_title.png) center top no-repeat;}
.sub_title h3{position:absolute;left:0;top:50%;font-size:3em;color:#003E80;font-weight:600;transform:translateY(-50%);}
@media only screen and (max-width:1200px){
.sub_menu ul{height:50px;padding:12px 2% 0;}
.sub_title .wrap{height:94px;}
.sub_title h3{position:static;padding:30px 2%;font-size:1.88em;text-align:center;transform:translateY(0);}
}
@media only screen and (max-width:640px){
.sub_menu{position:absolute;left:0;top:94px;z-index:11;width:100%;height:50px;border-bottom:none;overflow:hidden;transition:all ease-in-out 500ms;}
.sub_menu.active{height:auto;}
.sub_menu ul{height:auto;padding:50px 0 0;}
.sub_menu li{float:none;}
.sub_menu li a{height:50px;padding:0 50px;margin-right:0;line-height:50px;color:#003E80;font-weight:600;text-align:center;border-bottom:1px solid #A8A8A8;background-color:#fff;}
.sub_menu li a::before{display:none;}
.sub_menu li a.home_link{position:absolute;left:0;top:0;z-index:11;width:50px;height:50px;}
.sub_menu li.on a{position:absolute;left:0;top:0;width:100%;border-bottom:none;background-color:#003E80;}
.sub_menu li.on a::after{position:absolute;right:15px;top:50%;display:inline-block;width:20px;height:11px;content:'';background:url(../images/new_common/sub_arrow.png) center center no-repeat;transform:translateY(-50%);}
.sub_menu.active li.on a::after{transform:rotate(180deg) translateY(50%);}
.sub_title{margin-bottom:50px;}
}

/* 풋터 */
#footer{position:relative;z-index:11;font-family:'Pretendard-Regular';border-top:1px solid #CECECE;background-color:#F5F5F5;}
#footer .wrap{padding:24px 0;}
#footer .footer_logo{position:absolute;left:0;top:84px;line-height:0;}
#footer .footer_logo span{display:inline-block;width:100px;height:85px;font-size:1px;line-height:1px;color:transparent;background:url(../images/new_common/footer_logo.png) center center no-repeat;overflow:hidden;}
#footer .footer_nav li{float:left;}
#footer .footer_nav li a{position:relative;display:block;padding:10px 16px;font-size:1em;line-height:24px;color:#101010;}
#footer .footer_nav li a::before{position:absolute;left:0;top:50%;display:inline-block;width:1px;height:14px;content:'';background-color:#D9D9D9;transform:translateY(-50%);}
#footer .footer_nav li a:hover,#footer .footer_nav li a:focus{font-weight:600;}
#footer .footer_nav li:first-child a{padding-left:0;}
#footer .footer_nav li:first-child a::before{display:none;}
#footer .footer_shortcut{position:absolute;right:0;top:24px;}
#footer .footer_shortcut .btn{width:200px;height:44px;padding-left:16px;font-size:1em;color:#101010;text-align:left;border:1px solid #BBB;border-radius:2px;background-color:#fff;box-sizing:border-box;}
#footer .footer_shortcut .btn::after{position:absolute;right:25px;top:50%;display:inline-block;width:14px;height:8px;content:'';background:url(../images/new_common/footer_shortcut.png) center center no-repeat;transform:translateY(-50%);}
#footer .footer_shortcut.open .btn::after{transform:rotate(180deg) translateY(50%);}
#footer .footer_shortcut .dropdown-menu{position:absolute;left:0;top:initial;bottom:44px;width:100%;}
#footer .footer_shortcut .dropdown-menu li > a{display:block;padding:3px 20px;font-size:1em;color:#101010;}
#footer .footer_shortcut .dropdown-menu li > a:hover,#footer .footer_shortcut .dropdown-menu li > a:focus{font-weight:600;}
#footer .footer_info{padding:7px 0 7px 124px;margin-top: 16px;font-size:1em;line-height:24px;color:#505050;}
#footer .footer_info .add address{margin:0;}
#footer .footer_wa{position:absolute;right:0;bottom:24px;}
#footer .top{position:fixed;right:3%;bottom:20%;display:inline-block;width:40px;height:40px;font-size:1px;line-height:1px;color:transparent;border-radius:100%;overflow:hidden;visibility:hidden;opacity:0;transition:all ease-in-out 400ms;}
#footer.top_on .top{visibility:visible;opacity:1;}
#footer .top::before,#footer .top::after{position:absolute;display:inline-block;content:'';}
#footer .top::before{width:100%;height:100%;background-color:#000;opacity:0.7;}
#footer .top::after{left:30%;top:55%;width:20%;height:20%;border-left:2px solid #fff;border-top:2px solid #fff;border-radius:2px;transform:rotate(45deg) translate(0, -50%);}
@media only screen and (max-width:1200px){
#footer .wrap{padding:24px 2%;}
#footer .footer_logo{left:2%;}
#footer .footer_shortcut{right:2%;}
#footer .footer_wa{right:2%;}
}
@media only screen and (max-width:1000px){
#footer .footer_logo{display:none;}
#footer .footer_nav,#footer .footer_info{padding-left:0;}
#footer .top{right:2%;bottom:10%;}
}
@media only screen and (max-width:800px){
#footer .wrap{padding:10px 2%;text-align:center;}
#footer .footer_nav{text-align:center;}
#footer .footer_nav li{float:none;display:inline-block;}
#footer .footer_nav li a{padding:10px;font-size:15px;}
#footer .footer_shortcut{position:relative;right:initial;top:initial;}
#footer .footer_shortcut .btn{width:100%;text-align:center;}
#footer .footer_sns li a{width:40px;height:40px;}
#footer .footer_info{padding:15px 0;margin:0;font-size:14px;text-align:center;}
#footer .footer_info .add span{margin-bottom:0;}
#footer .footer_wa img{width:60px;height: auto;}
#footer .top{display:none !important;}
}
@media only screen and (max-width:640px){
  #footer .footer_wa{position:static;display:inline-block;margin-bottom:20px;}
}